#alert-text{
    color: black;
}
.centered{
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: $translate(-50%, -50%);
}

#alert-container{
    z-index: 100;
    background: white;
    border: 1px gray solid;
    border-radius: 5;
    height: 200px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
}

#alert-mask{
    z-index: 99;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000000;
    opacity: 0.6;
}
